<!DOCTYPE html>
<html>
<head>
  <title>RandomProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row header">
	<div class="col-md-10 icons">
		<ul class="list-group-item poop">
			
			<a href="/home"><i class="fa fa-home fa-fw fa-lg"></i>&nbsp; Home</a>

			<a href="/profile"><i class="fa fa-user fa-fw fa-lg"></i>&nbsp; Profile</a>

			<a href="/findpartners"><i class="fa fa-search fa-fw fa-lg"></i>&nbsp; Search Workout Buddies</a>
		</ul>
	</div>
			<div class="col-md-2">
				<ul class="list-group-item header-end">
				<% if !current_user.present? %>
					<a href="/users/sign_in"><i class="fa fa-sign-in fa-fw fa-lg"></i>&nbsp; Login </a>
	    		<% else %>
					<a href="/users/sign_out" data-method="delete"><i class="fa fa-sign-out fa-fw fa-lg"></i>&nbsp; Signout </a>
	        	<% end %>
	        	</ul>
	        </div>
</div>

<%= yield %>

</body>
</html>
